<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css' />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
  </head>
  <body>
    <div id="current-location" data-role="page">

      <div data-role="header">
        <h1>Current Car Location</h1>
      </div><!-- /header -->

      <div id="map" style="position: absolute; width: 100%; height: 95%;" data-role="content"> 
         
      </div><!-- /content -->
      <a class="switch_buttons" id="switch_to_mark_parked" data-role="button">Mark Parked</a>
      <a class="switch_buttons" style="display: none;" id="switch_to_current_location" data-role="button">View Current Location</a>
    </div><!-- /page -->


    <script>

      $(document).bind('pageinit', function() {
        $('.switch_buttons').click(function(eventObj) {
          eventObj.preventDefault();
          $('.switch_buttons').toggle();
        });


        $('#switch_to_mark_parked').click(function(eventObj) {
          setupMarkCarLocation(map);
        });
  
        $('#switch_to_current_location').click(function(eventObj) {
          eventObj.preventDefault();
          setupCurrentLocation(map);
        });
      });

      var map,state;

      function initialize() {
        var mapOptions = {
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map'),
          mapOptions);
        
        setupCurrentLocation(map);
  
      }
      
      function setupCurrentLocation(map) {
        $.mobile.loading('show'); 

        // A TextualZoomControl is a GControl that displays textual "Zoom In"
        // and "Zoom Out" buttons (as opposed to the iconic buttons used in
        // Google Maps).

        // We define the function first
        function TextualZoomControl() {
        }

        // To "subclass" the GControl, we set the prototype object to
        // an instance of the GControl object
        TextualZoomControl.prototype = new GControl();

        // Creates a one DIV for each of the buttons and places them in a container
        // DIV which is returned as our control element. We add the control to
        // to the map container and return the element for the map class to
        // position properly.
        TextualZoomControl.prototype.initialize = function(map) {
            var container = document.createElement("div");

            var zoomInDiv = document.createElement("div");
            this.setButtonStyle_(zoomInDiv);
            container.appendChild(zoomInDiv);
            zoomInDiv.appendChild(document.createTextNode("Zoom In"));
            GEvent.addDomListener(zoomInDiv, "click", function() {
                map.zoomIn();
              });

            var zoomOutDiv = document.createElement("div");
            this.setButtonStyle_(zoomOutDiv);
            container.appendChild(zoomOutDiv);
            zoomOutDiv.appendChild(document.createTextNode("Zoom Out"));
            GEvent.addDomListener(zoomOutDiv, "click", function() {
                map.zoomOut();
              });

            map.getContainer().appendChild(container);
            return container;
        }

        // By default, the control will appear in the top left corner of the
        // map with 7 pixels of padding.
        TextualZoomControl.prototype.getDefaultPosition = function() {
            return new GControlPosition(G_ANCHOR_TOP_LEFT, new GSize(7, 7));
        }

        // Sets the proper CSS for the given button element.
        TextualZoomControl.prototype.setButtonStyle_ = function(button) {
            button.style.textDecoration = "underline";
            button.style.color = "#0000cc";
            button.style.backgroundColor = "white";
            button.style.font = "small Arial";
            button.style.border = "1px solid black";
            button.style.padding = "2px";
            button.style.marginBottom = "3px";
            button.style.textAlign = "center";
            button.style.width = "6em";
            button.style.cursor = "pointer";
        }

        var map = new GMap2(document.getElementById("map"));
        map.addControl(new TextualZoomControl());

        $.mobile.loading('hide'); 
      }

      function setupMarkCarLocation(map) {
        $.mobile.loading('show'); 

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var current_pos = new google.maps.LatLng(position.coords.latitude,
              position.coords.longitude);

            var new_car_marker = new google.maps.Marker({
              map: map,
              position: current_pos, 
              draggable: true
            });

            map.setCenter(current_pos);
            $.mobile.loading('hide'); 
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        $.mobile.loading('hide'); 

        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: parked_map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>
