<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="settings" data-role="page">  
      <div data-role="header" id="map-header">
        <a href="/" class="ui-btn-left" data-icon="back">Return to App</a>
        <h1>Settings</h1>
      </div><!-- /header -->
      <div data-role="collapsible-set">

        <div data-role="collapsible" data-collapsed="false">
        <h3>Cars</h3>
        <p>Cars vrooom</p>
        </div>
        
        <div data-role="collapsible">
        <h3>Other Settings</h3>
        <p>Vegetarian?</p>
        </div>
        
      </div>
    </div>
  </body>
</html>
